
html {
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
}
/* Hides Static Footer on Desktop */
.nav-mobile-hide {
  display:none;
}
