
html {
}

body {
  display:flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: white;
}

main{
  flex: 1 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}
/* Hides Static Footer on Desktop */
.nav-mobile-hide {
  display:none;
}
